/*
0-600px -----phone
600px-900px------tablet portrait
900px-1200px-----tablet landscape
[1200-1800] where our normal style applies
1800px + : big desktop
*/
/* BREAK-POINTS

-phone
-tab-port
-tab-land
-big-desktop

*/
html {
  font-size: 62.5%;
  background-color: #F2F2F2;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  width: 100rem;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 600;
    word-spacing: 1rem; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        display: block;
        font-size: 4rem;
        font-weight: 600;
        word-spacing: 1rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        display: block;
        font-size: 3rem;
        font-weight: 600;
        word-spacing: 1rem; } }

.heading-secondary {
  color: #000;
  text-align: center; }
  .heading-secondary--sub {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6.2rem;
    font-style: normal; }
    @media (max-width: 56.25em) {
      .heading-secondary--sub {
        display: block;
        font-size: 3rem;
        font-weight: 600;
        word-spacing: 1rem; } }
    @media (max-width: 37.5em) {
      .heading-secondary--sub {
        display: block;
        font-size: 2rem;
        font-weight: 600; } }
  .heading-secondary--small {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .2rem;
    padding: 0 50rem;
    text-align: center;
    line-height: 6.2rem;
    font-style: normal;
    display: inline-block; }
    @media (max-width: 75em) {
      .heading-secondary--small {
        display: block;
        font-weight: 600;
        letter-spacing: .2rem;
        padding: 0 60rem;
        text-align: center;
        line-height: 6.2rem;
        display: inline-block; } }
    @media (max-width: 56.25em) {
      .heading-secondary--small {
        display: block;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: .2rem;
        padding: 0 45rem;
        text-align: center;
        line-height: 6.2rem;
        display: inline-block; } }
    @media (max-width: 37.5em) {
      .heading-secondary--small {
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
        padding: 0 30rem;
        letter-spacing: .2rem;
        margin: 0 auto;
        text-align: center;
        line-height: 6.2rem; } }

.heading-tertiary {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5rem 2rem 0 2rem; }

.heading-fourth {
  font-size: 7.2rem;
  color: #fff;
  font-weight: 600;
  margin: 1rem 0; }
  .heading-fourth-1 {
    color: #000;
    font-size: 3.2rem;
    width: 30rem; }
  .heading-fourth-2 {
    display: block;
    width: 30rem;
    font-size: 4.5rem; }
  .heading-fourth-3 {
    color: #000;
    margin: 1rem 0;
    font-size: 3.2rem; }
  .heading-fourth-pg {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    color: #fff; }
    .heading-fourth-pg-1 {
      color: #000;
      width: 26.5rem;
      margin: .5rem; }
    .heading-fourth-pg-2 {
      width: 37.7rem;
      font-size: 1.6rem;
      font-weight: 100;
      margin: .4rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  margin: 0 3rem 0 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: .5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: 2px solid #F2F2F2;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.205);
  -webkit-transform: translateY(-0.3rem);
  -moz-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  -o-transform: translateY(-0.3rem); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn--full {
  background-color: #fff;
  color: #333; }
  .btn--full::after {
    background-color: #fff; }

.btn--light {
  background-color: transparent;
  color: #fff;
  display: inline-block; }
  .btn--light::after {
    background-color: transparent; }

.column-box {
  background-color: #fff;
  font-size: 1.5rem;
  padding: 12px;
  margin: 5rem 0;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 34rem; }
  .column-box:not(:last-child) {
    margin-right: 20rem; }
  @media (max-width: 56.25em) {
    .column-box {
      width: 40rem;
      margin: 4rem auto; } }
  @media (max-width: 37.5em) {
    .column-box {
      width: 30rem;
      margin: 3rem auto; } }
  .column-box-text {
    font-size: 1.6rem;
    line-height: 180%;
    padding: 0 2rem; }
  .column-box-a {
    font-size: 1.6rem;
    transition: all .3s;
    padding: 0 2rem; }
    .column-box-a:hover {
      transform: translateY(-0.2rem);
      cursor: pointer;
      color: #29ABE2; }
    .column-box-a a {
      margin: 5rem 1rem 0 0;
      display: inline-block;
      text-decoration: none;
      color: #29ABE2;
      text-decoration: none;
      width: 9.4rem;
      height: 2.6rem;
      padding-right: 20rem; }

.form {
  position: relative; }
  .form-parag {
    background-color: transparent;
    width: 40.7rem;
    list-style: none;
    font-size: 1.6rem;
    color: #F2F2F2;
    padding-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #F2F2F2;
    outline: none; }
    .form-parag::placeholder {
      color: #F2F2F2; }
    .form-parag:not(:last-child) {
      margin-bottom: 2rem; }
  .form-btn {
    position: absolute;
    top: 2rem;
    left: 0; }

.img-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  text-align: center;
  border-radius: .3rem;
  height: 10rem; }
  @media (max-width: 75em) {
    .img-box {
      margin: 4.5rem auto;
      padding: 0;
      text-align: center;
      border-radius: .3rem; } }
  @media (max-width: 56.25em) {
    .img-box {
      width: 30rem;
      margin: 4rem auto;
      padding: 0;
      text-align: center;
      border-radius: .3rem;
      height: 10rem; } }
  @media (max-width: 37.5em) {
    .img-box {
      width: 20rem;
      margin: 3rem auto;
      padding: 0;
      text-align: center;
      border-radius: .3rem;
      height: 6rem; } }
  .img-box img {
    width: 100%; }

.people-box {
  font-size: 1.5rem;
  margin: 5rem 3rem;
  text-align: center; }

.icon {
  color: #fff;
  font-size: 3.2rem; }

.copyright {
  position: absolute;
  width: 29.5rem;
  left: 10rem; }

.footer {
  background-color: #fff;
  background-size: cover;
  padding: 10rem 3rem 7rem 3rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-right: 6rem; } }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        padding: 0 3rem; }
        .row:not(:last-child):not(:last-child) {
          margin-bottom: 0; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2.4rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
      @media (max-width: 37.5em) {
        .row [class^="col-"]:not(:last-child) {
          font-size: 30%; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2.4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2.4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2.4rem) / 3) + 2.4rem); }
  .row .col-1-of-4 {
    width: calc((10 - 3 * 2.4rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2.4rem) / 4) + 2.4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2.4rem) / 4) + 2 * 2.4rem); }

.header {
  color: #fff;
  height: 95vh;
  position: relative;
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(0deg, rgba(45, 156, 219, 0.7), rgba(45, 156, 219, 0.7)), url(../img/heading-posters.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      height: 60vh;
      clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%); } }
  @media (max-width: 37.5em) {
    .header {
      height: 50vh;
      clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%); } }
  .header-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header-paragraph {
    font-size: 1.6rem;
    height: 8.5rem;
    left: 29.1rem;
    top: 38.2rem; }
    @media (max-width: 37.5em) {
      .header-paragraph {
        display: block;
        font-size: 1rem;
        height: 5rem;
        left: 20rem;
        top: 30rem; } }

.navigation {
  position: fixed; }
  .navigation-img {
    text-align: center;
    display: inline-block;
    margin: 3rem 0 3rem 6.7rem; }
    @media (max-width: 56.25em) {
      .navigation-img {
        text-align: center;
        display: inline-block;
        margin: 2rem 0 2rem 5rem;
        height: 4rem;
        width: 10rem; } }
    @media (max-width: 37.5em) {
      .navigation-img {
        text-align: center;
        display: inline-block;
        margin: 1.5rem 0 1rem 4rem;
        height: 4rem;
        width: 10rem; } }
  .navigation-list {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    float: right; }
    .navigation-list li {
      list-style-type: none;
      padding: 1rem;
      height: 2.4rem;
      margin-top: .4rem;
      margin-bottom: .4rem;
      display: inline; }
    .navigation-list a {
      color: #333;
      font-size: 1.6rem;
      text-decoration: none;
      line-height: 7rem;
      padding: .5rem 1.5rem;
      opacity: 0.7;
      transition: all .4s; }
      .navigation-list a:hover {
        color: #29ABE2; }

#blue {
  color: #29ABE2;
  transition: all .4s; }
  #blue:hover {
    color: #333; }

.section-navigation {
  background-color: #fff;
  width: 100%;
  height: 100%; }
  .section-navigation::after {
    content: "";
    display: table;
    clear: both; }

.section-story {
  background-color: #F2F2F2;
  margin-top: -50vh;
  box-sizing: border-box;
  padding: 10rem 7.6rem 20rem 7.6rem;
  margin: 0; }

.section-image {
  background-color: #fff;
  background-size: cover;
  padding: 10rem 5rem 20rem 4rem;
  margin-top: -10rem; }

.section-people {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/four.jpg);
  background-size: cover;
  padding: 10rem 3rem 10rem 3rem;
  margin: -10rem 0 10rem 0;
  color: #fff;
  position: relative;
  background-size: cover;
  background-position: top; }

.section-contact {
  background-color: #29ABE2;
  background-size: cover;
  padding: 10rem 3rem 10rem 3rem;
  margin-top: -10rem; }
