.btn {
    &,
    &:link,
    &:visited {
        margin: 0 3rem 0 0;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: .5rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;

        // change for the <button> element

        // border: none;
        border: 2px solid $color-grey-light;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.205);
        -webkit-transform: translateY(-.3rem);
        -moz-transform: translateY(-.3rem);
        -ms-transform: translateY(-.3rem);
        -o-transform: translateY(-.3rem);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    }

    &--full {
        background-color: $color-white;
        color: $color-grey;

        &::after {
            background-color: $color-white;
        }
        
    }

    &--light {
        background-color: transparent;
        color: $color-white;
        display: inline-block;

        

        &::after {
            background-color: transparent;
        }
    }


}