.form {
   position: relative;
   
    &-parag {
        background-color: transparent;
        width: 40.7rem;
        list-style: none;
        font-size: 1.6rem;
        color: $color-grey-light;
        padding-bottom: 1rem;
        border: none;
        border-bottom: 1px solid $color-grey-light;
        outline: none;

        &::placeholder {
            color: $color-grey-light;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }


    &-btn {
        position: absolute;
        top: 2rem;
        left: 0;
    }
}