html {
    font-size: 62.5%;
    background-color: $color-grey-light;
    font-family: Arial, Helvetica, sans-serif;


    // @include respond(phone) {
    //     font-size: 50%;
    // }
    @include respond(tab-land) {
        font-size: 56.25%; //56.25%
    }
    @include respond(tab-port) {
        font-size: 50%; //50%
    }

    @include respond(phone) {
        font-size: 30%;
    }

    @include respond(big-desktop) {
        font-size:75%; //75% 
    }
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}