.header {
    color: $color-white;
    height: 95vh;
    position: relative;
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(0deg, rgba(45, 156, 219, 0.7), rgba(45, 156, 219, 0.7)), url(../img/heading-posters.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

    @include respond(tab-port) {
        height: 60vh;
        clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
    }

    @include respond(phone) {
        height: 50vh;
        clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
    }

    &-text-box { 
        position: absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        text-align: center;

    }

    &-paragraph {
        font-size: 1.6rem;
        height: 8.5rem;
        left: 29.1rem;
        top: 38.2rem;

        @include respond(phone) {
            display: block;
            font-size: 1rem; 
            height: 5rem;
            left: 20rem;
            top: 30rem;
        }
    }
}